In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

medical = pd.read_csv(r'C:\Users\user\Desktop\Medical_insurance_dataset.csv')
medical

Matplotlib is building the font cache; this may take a moment.

      User ID  Gender  Age  EstimatedSalary      Purchased
0    15624510    Male   19            19000  not-purchased
1    15810944    Male   35            20000  not-purchased
2    15668575  Female   26            43000  not-purchased
3    15603246  Female   27            57000  not-purchased
4    15804002    Male   19            76000  not-purchased
..        ...     ...  ...              ...            ...
395  15691863  Female   46            41000      purchased
396  15706071    Male   51            23000      purchased
397  15654296  Female   50            20000      purchased
398  15755018    Male   36            33000  not-purchased
399  15594041  Female   49            36000      purchased

[400 rows x 5 columns]

In [2]:
medical.shape

(400, 5)

In [3]:
medical.info()
#when pandas returns object, it shows it contains strings

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    object
dtypes: int64(3), object(2)
memory usage: 15.8+ KB

In [4]:
medical.describe()

            User ID         Age  EstimatedSalary
count  4.000000e+02  400.000000       400.000000
mean   1.569154e+07   37.655000     69742.500000
std    7.165832e+04   10.482877     34096.960282
min    1.556669e+07   18.000000     15000.000000
25%    1.562676e+07   29.750000     43000.000000
50%    1.569434e+07   37.000000     70000.000000
75%    1.575036e+07   46.000000     88000.000000
max    1.581524e+07   60.000000    150000.000000

In [8]:
medicalBackup = medical.copy()

In [10]:
medical.head()
#the goal is to be able to predict if the customer will buy or not....

#that therefore means we'll be comparing purchased and another variable

    User ID  Gender  Age  EstimatedSalary      Purchased
0  15624510    Male   19            19000  not-purchased
1  15810944    Male   35            20000  not-purchased
2  15668575  Female   26            43000  not-purchased
3  15603246  Female   27            57000  not-purchased
4  15804002    Male   19            76000  not-purchased

In [13]:
#medical.isnull().sum() #to get sum of the rows that have null values
#checking if there be any null value. More like the total

#medical.isnull()

In [14]:
#Treating categorical variable........ more like changing strings to variables====DUMMY VARIABLES
#to change male to 0 and females to 1
#ways to : 'onenotencoding','label encoding', 'ordinalencoding',...

#we are gonna be using 'label encoding'
from sklearn.preprocessing import LabelEncoder

In [16]:
lb = LabelEncoder() #instatiating.... giving a variable that you can be working with labelEncoder

In [51]:
#encoding Gender and purchase is the target
medical['Gender'] = lb.fit_transform(medical['Gender'])

#forgot this
medical['Purchased'] = lb.fit_transform(medical['Purchased'])

In [55]:
medical

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510       1   19            19000          0
1    15810944       1   35            20000          0
2    15668575       0   26            43000          0
3    15603246       0   27            57000          0
4    15804002       1   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863       0   46            41000          1
396  15706071       1   51            23000          1
397  15654296       0   50            20000          1
398  15755018       1   36            33000          0
399  15594041       0   49            36000          1

[400 rows x 5 columns]

In [56]:
#to know if the data is suffering from value imbalance,,,

medical['Purchased'].value_counts()
#from the result, its not balance.....Highly necessary for it to be balance

0    257
1    143
Name: Purchased, dtype: int64

In [57]:
medical['Gender'].value_counts()
#not balance too

0    204
1    196
Name: Gender, dtype: int64

In [58]:
#adding to the less is OverSampling
#adding to the much is UnderSampling

#why balancing,, 
#an example is in engineering, we have more male than female, so if im asked who'll be the best graduating student...
#without thinking much, i'll say its a male BUT THAT'S BIAS

#SO THE NEED TO MAKE IT EVEN AND BALANCE. SO PREDICTIONS CAN BE UNBIAS

In [59]:
#next is setting x and y

X = medical.drop(columns = 'Purchased')
y = medical['Purchased']

In [60]:
#It is necessary for ML to not feed your system with all of the data at once
#but rather, split it into train and test
#Just as a teacher does... test is assignment which is to prove if theyve learnt

#No best method really but peeps just prefer 70:30 // 80:20
#but note: The training set must be more than the test

In [61]:
from sklearn.model_selection import train_test_split 
#used to split datas for training and test

In [62]:
#recall what x and y is above.... so we are splitting both into train and test

#test_size = 0.25 means take 25% as testsize
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 42)

In [63]:
X_train 
#we observe that our values are different. Reason? python pick randomly

#to influence the ramdomness,,,,, we set a random size...  Go up

      User ID  Gender  Age  EstimatedSalary
247  15775590       0   57           122000
110  15665416       0   39            71000
16   15733883       1   47            25000
66   15679760       1   24            19000
153  15619087       0   36            50000
..        ...     ...  ...              ...
71   15726358       0   24            27000
106  15706185       0   26            35000
270  15680752       0   43           133000
348  15579212       1   39            77000
102  15584545       0   32            86000

[300 rows x 4 columns]

In [64]:
#lastly,,,, MODEL !!!!!

#first algorithm: knn
from sklearn.neighbors import KNeighborsClassifier
#what knn means...

#the K is for numbers.More like oick and study... wether in 3's and study what's common between them

In [65]:
knn = KNeighborsClassifier()

In [66]:
knn.fit(X_train, y_train) #the fit is like learn

#out of those 4, learn from these

KNeighborsClassifier()

In [67]:
knn_pred = knn.predict(X_test)

In [68]:
knn_pred
#answer submitted by my machine...

array([0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1], dtype=int64)

In [69]:
#NOw to test for ACCURACY of the answer

from sklearn.metrics import accuracy_score

In [70]:
acc_knn = accuracy_score(y_test, knn_pred)

In [71]:
acc_knn

0.75

In [72]:
#this accuracy method is too lenient 

#FOR BETTER ACCURACY, WE USE:
from sklearn.metrics import classification_report

In [75]:
acc2 = classification_report(y_test, knn_pred)
print(acc2)

              precision    recall  f1-score   support

           0       0.75      0.90      0.82        63
           1       0.75      0.49      0.59        37

    accuracy                           0.75       100
   macro avg       0.75      0.70      0.71       100
weighted avg       0.75      0.75      0.74       100

In [ ]:
#No free lunch theorem ---- no previous knowledge will tell you that one algorithm will
#peerform better on a data set except you try all

In [87]:
#so, trying another:

from sklearn.svm import SVC

In [98]:
#svc_trial = SVC(X_train, y_train)
#svm_trial = SVC(kernel = 'linear')
svm_trial = SVC()

In [99]:
svm_trial.fit(X_train, y_train)

SVC()

In [104]:
svm_pred = svm_trial.predict(X_test)

In [106]:
svm_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [107]:
svm_accuracy = accuracy_score(y_test, svm_pred)

In [108]:
svm_accuracy

0.63